*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(77, 76, 76);
}

#check{
	display: none;
}

#icone{
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
}

.barra{
	background-color: #333;
	height:100%;
	width: 300px;
	transition: all .2s linear ;
   left: -300px;
   position:absolute;
}

nav{
	width: 100%;
	position: absolute;
	top: 70px;
}

nav a{
	text-decoration: none;
}

.link{
	background-color: #494950;
	padding: 20px;
	font-family: 'Courier New, monospace';
	font-size: 13pt;
	transition: all .2s linear;
	color: rgb(236, 30, 30);
	border-bottom: 2px solid #222;
   margin-top: 200px;
   text-decoration: underline;
}

.link:hover{
	background-color: #050542;
}

#check:checked ~ .barra{
	transform: translateX(300px);
	opacity: 0.8

}

#check:checked ~ .barra nav a .link{
	margin-top: 0;
	transition-delay: 0.2s;

}

#foto{
	top: 0%;
	left: 0%;
	width: 1007px;
	height: 657px;
	position: absolute;

}

#f1{
    top: 1070px;
    widows: 400px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 28%;
}

#f2{
    top: 1490px;
    widows: 400px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 28%;
}

#fui{
    font-size:20pt;
    color:black;
    font-style: italic;
    position: absolute;
    top: 860px;
    left: 35%;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87

}

#fui1{
    font-size:20pt;
    color:black;
    position: absolute;
    top: 885px;
    left: 32%;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87

}