*{
	margin: 0;
	padding: 0;
}

	body{
   background-color: rgb(61, 60, 60);
}

ul{
  list-style:none;

}

a{
  text-decoration:none;
  color:white;
  display: block;
  padding: 0px 20px;
}

a:hover{
background-color: rgba(255, 255, 255, .3) ;
}

nav{
  background-color: black;
  height: 50px;

}

ul#ul-1{
background-color: blue;
width: 90%;
margin: auto;
}

.li-p{
  line-height: 50px;
  float: left;
   
}

ul li ul li{
  background-color:black;
}

.ul-albuns{
  display: none;
}

#topo{
	top: 0%;
	left: 0%;
	width: 1007px;
	height: 657px;
	position: absolute;

}

#nome{
  position: absolute;
  top: 8%;
  font-size: 25pt;
  font-style: italic;
  color:black;
  margin-left:35%;
  text-shadow: 4px 4px 9px rgb(252, 252, 252), 4px 4px 9px rgb(255, 255, 255);

}

#foto1{
    width: 300px;
    height: 350px;
    margin-top: 670px;
    margin-left:5px;
    border-radius: 20px;
    border: 0px white; 
    position: absolute;
}

#foto2{
    width: 300px;
    height: 350px;
    margin-top: 670px;
    margin-left:355px;
    border-radius: 20px;
    border: 0px white;
    position: absolute;
}

#foto3{
    width: 300px;
    height: 350px;
    margin-top: 670px;
    margin-left:700px;
    border-radius: 20px;
    border: 0px white;
    position: absolute;
}

#foto4{
    width: 300px;
    height: 350px;
    margin-top: 1070px;
    margin-left:5px;
    border-radius: 20px;
    border: 0px white;
    position: absolute;
}

#foto5{
    width: 300px;
    height: 350px;
    margin-top: 1070px;
    margin-left:355px;
    border-radius: 20px;
    border: 0px white;
    position: absolute;
}

#foto6{
    width: 300px;
    height: 350px;
    margin-top: 1070px;
    margin-left:700px;
    border-radius: 20px;
    border: 0px white;
    position: absolute;
}

.btn-hover{
    min-height: 35px;
    width: 90px; 
    border-radius: 30px;
    border: 0px white; 
    background-color: rgb(149, 165, 166);
    font-family: "Do Hyeon", sans-serif;
  }

  #teste1{
    margin-top: 1025px;
    margin-left: 0%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }

  #teste2{
    margin-top: 1025px;
    margin-left: 35%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }

  #teste3{
    margin-top: 1025px;
    margin-left: 69%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }

  #teste4{
    margin-top: 1425px;
    margin-left: 0%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }

  #teste5{
    margin-top: 1425px;
    margin-left: 35%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }

  #teste6{
    margin-top: 1425px;
    margin-left: 69%;
    min-height: 35px;
    width: 90px; 
    position: absolute;
  }