*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(77, 76, 76);
}

ul{
    list-style:none;

}

a{
    text-decoration:none;
    color:white;
    display: block;
    padding: 0px 20px;
}

a:hover{
background-color: rgba(255, 255, 255, .3) ;
}

nav{
    background-color: black;
    height: 50px;

}

ul#ul-1{
background-color: blue;
width: 90%;
margin: auto;
}

.li-p{
    line-height: 50px;
    float: left;
     
}

ul li ul li{
    background-color:black;
}

.ul-albuns{
    display: none;
}

#topo{
	top: 0%;
	left: 0%;
	width: 1007px;
	height: 657px;
	position: absolute;

}

#f1{
    top: 900px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#f2{
    top: 1320px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#f3{
    top: 1740px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#f4{
    top: 2160px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#f5{
    top: 2580px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#f6{
    top: 3000px;
    width: 320px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 33%;
}

#fui{
    font-size:20pt;
    color:black;
    font-style: italic;
    position: absolute;
    top: 745px;
    left: 2%;
    text-shadow: 0 0 0.2em rgb(253, 253, 253), 0 0 0.2em rgb(253, 253, 253);

}

#te{
    width: 40px;
    height: 40px;
 }