*{
	margin: 0;
	padding: 0;
}

	body{
   background-image: url("teste.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
}

#check{
	display: none;
}

#icone{
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
}

.barra{
	background-color: #333;
	height:100%;
	width: 300px;
	position: absolute;
	transition: all .2s linear ;
	left: -300px;
}

nav{
	width: 100%;
	position: absolute;
	top: 60px;
}

nav a{
	text-decoration: none;
}

.link{
	background-color: #494950;
	padding: 20px;
	font-family: 'Courier New, monospace';
	font-size: 12pt;
	transition: all .2s linear;
	color: red;
	border-bottom: 2px solid #222;
	opacity: 2;
	margin-top: 200px;
}

.link:hover{
	background-color: #050542;
}

#check:checked ~ .barra{
	transform: translateX(300px);
	opacity: 0.5

}

#check:checked ~ .barra nav a .link{
	opacity: 50;
	margin-top: 0;
	transition-delay: 0.2s;

}

#foto{
	top: 0%;
	left: 0%;
	width: 1007px;
	height: 625px;
	position: absolute;

}

.img-container{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container img{
   width: 25%;
   height: 25%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 105%;
   left: 5%;
}

.img-container:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.img-container1{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container1 img{
   width: 25%;
   height: 25%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 105%;
   left: 38%;
}

.img-container1:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.img-container2{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container2 img{
   width: 25%;
   height: 25%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 105%;
   left: 70%;
}

.img-container2:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


#oi{
   margin-top: 100%;
   width: 200px;
   height: 200px;
}