*{
	margin: 0;
	padding: 0;
}

	body{
   background-color: rgb(61, 60, 60);
}

ul{
   list-style:none;

}

a{
   text-decoration:none;
   color:white;
   display: block;
   padding: 0px 20px;
}

a:hover{
background-color: rgba(255, 255, 255, .3) ;
}

nav{
   background-color: black;
   height: 50px;

}

ul#ul-1{
background-color: blue;
width: 90%;
margin: auto;
}

.li-p{
   line-height: 50px;
   float: left;
    
}

ul li ul li{
   background-color:black;
}

.ul-albuns{
   display: none;
}

#topo{
	top: 0%;
	left: 0%;
	width: 1007px;
   height: 625px;
   position: absolute;

}

.img-container{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container img{
   width: 25%;
   height: 35%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 115%;
   left: 5%;
}

.img-container:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.img-container1{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container1 img{
   width: 25%;
   height: 35%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 115%;
   left: 38%;
}

.img-container1:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.img-container2{
   width: 300px;
   height: 200px;
   overflow: hidden;
}

.img-container2 img{
   width: 25%;
   height: 35%;
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
   position: absolute;
   top: 115%;
   left: 70%;
}

.img-container2:hover img{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

#hi{
   font-size: 20pt;
   color: rgb(0, 0, 0);
   position: absolute;
   top: 142%;
   left: 6.9%;
   font-style: italic;
   text-shadow: 0 0 0.2em rgb(253, 253, 253), 0 0 0.2em rgb(253, 253, 253);

}

#oi{
   margin-top: 100%;
   width: 200px;
   height: 200px;
}

#nome{
   position: absolute;
   font-size: 25pt;
   font-style: italic;
   color:black;
   margin-left:30%;
   text-shadow: 4px 4px 9px rgb(252, 252, 252), 4px 4px 9px rgb(255, 255, 255);
   top: 8%;
}